<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Reckless_TrafficSource>
            <version>1.0.0.0</version>
        </Reckless_TrafficSource>
    </modules>
    <global>
        <models>
            <Reckless_TrafficSource>
                <class>Reckless_TrafficSource_Model</class>
                <resourceModel>Reckless_TrafficSource_resource</resourceModel>
            </Reckless_TrafficSource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Reckless_TrafficSource_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <reckless_trafficsource_setup>
                <setup>
                    <module>Reckless_TrafficSource</module>
                    <class>Reckless_TrafficSource_Model_Resource_Setup</class>
                </setup>
            </reckless_trafficsource_setup>
            <connection>
                <use>core_setup</use>
            </connection>
            <Reckless_TrafficSource_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Reckless_TrafficSource_write>
            <Reckless_TrafficSource_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Reckless_TrafficSource_read>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Reckless_TrafficSource>
                        <type>singleton</type>
                        <class>Reckless_TrafficSource/observer</class>
                        <method>controllerActionPredispatch</method>
                    </Reckless_TrafficSource>
                </observers>
            </controller_action_predispatch>
            <sales_order_save_before>
                <observers>
                    <Reckless_TrafficSource>
                        <type>singleton</type>
                        <class>Reckless_TrafficSource/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </Reckless_TrafficSource>
                </observers>
            </sales_order_save_before>
        </events>
    </frontend>
</config>
